## Definição do Problema

** Haverá diversas reuniões para definição da estratégia de vendas e os relatórios poderão ser extraídos  
sob  demanda,  de  acordo  com  a  necessidade  dos  gestores. ** 

** A empresa está montando a estratégia de vendas para o próximo ano e precisa saber qual dos fabricantes dos produtos vendidos, apresenta melhor desempenho nas vendas. O objetivo é descartar  os  fabricantes  cujos  produtos  possuem  poucas  vendas  e  tentar  negociar  melhores condições com os principais fabricantes. ** 

** Em paralelo a isso, a empresa gostaria de ter diferentes visões das vendas realizadas nos últimos 4 anos (período de 2012 a 2015). Deve ser possível segmentar os relatórios de vendas por  diferentes  informações  e  
por diferentes  ângulos.  Estas  informações  irão  suportar  as estratégias da empresa para o próximo ano. **

** Por  conta  disso,  você deve criar um modelo de dados que permita a extração de relatórios 
a qualquer momento e que permita extrair dados por diferentes visões e ângulos.
Seu trabalho é fazer isso acontecer! **

In [35]:
img = mpimg.imread('Vends.jpeg') 
imgplot = plt.imshow(img) 
plt.show()

NameError: name 'mpimg' is not defined

## Definando as Tarefas para os Dados de Vendas

** Valor de Vendas ** 

* Total de Vendas 
* Média de Vendas  

** Código de Lojas ** 

* Contagem de ID das Lojas 
* Total de Vendas 
* Média de Vendas 

** Produto por Cidade, Estado ** 

* Total de Vendas
* Média de Vendas

** Categoria por Cidade, Estado ** 

* Total de Vendas 
* Média de Vendas 

** Fabricante por Cidade, Estado ** 

* Total de Vendas 
* Média de Vendas 

** Vendedores por Cidade, Estado, Fabricante, Produto, Segmento e Categoria ** 

* Total de Vendas 
* Média de Vendas 

** Data por Valor de Venda ** 

* Total de Vendas 
* Média de Vendas

## Importando as Bibliotecas do Python

In [36]:
import pandas as pd 
import numpy as np

## Lendo as informações do arquivo de Vendas do Ponto Máximo

In [37]:
tot_vendas = pd.read_excel("Vendas.xlsx", sheet_name="Vendas", usecols="L")
tot_vendas

     ValorVenda
0        679.00
1        832.00
2        790.00
3        765.32
4        459.89
..          ...
452     1234.00
453     1234.00
454     1230.00
455     1234.00
456     1234.00

[457 rows x 1 columns]

## Análise Geral de Vendas do Ponto Máximo

In [38]:
total = tot_vendas["ValorVenda"].sum()
media = tot_vendas["ValorVenda"].mean()
desvio = tot_vendas["ValorVenda"].std()
mediana = tot_vendas["ValorVenda"].median()
quartil = tot_vendas["ValorVenda"].quantile(0.25)
percentile = tot_vendas["ValorVenda"].quantile(0.75)
variancia = tot_vendas["ValorVenda"].var()


analise_t_m = pd.DataFrame({"Total de Vendas" : [total], 
                            "Média de Vendas" : [media], 
                            "Desvio Padrão" : [desvio], 
                            "Mediana" : [mediana], 
                            "Quartil" : [quartil], 
                            "Percentile" : [percentile],
                            "Variância" : [variancia]}) 

analise_t_m["Total de Vendas"] = analise_t_m["Total de Vendas"].map("R$ {:,.2f}".format)
analise_t_m["Média de Vendas"] = analise_t_m["Média de Vendas"].map("R$ {:,.2f}".format)
analise_t_m["Desvio Padrão"] = analise_t_m["Desvio Padrão"].map("R$ {:,.2f}".format)
analise_t_m["Mediana"] = analise_t_m["Mediana"].map("R$ {:,.2f}".format)
analise_t_m["Quartil"] = analise_t_m["Quartil"].map("R$ {:,.2f}".format)
analise_t_m["Percentile"] = analise_t_m["Percentile"].map("R$ {:,.2f}".format)
analise_t_m["Variância"] = analise_t_m["Variância"].map("R$ {:,.2f}".format)

analise_t_m

,Total de Vendas,Média de Vendas,Desvio Padrão,Mediana,Quartil,Percentile,Variância
0,"R$ 361,081.11",R$ 790.11,R$ 755.54,R$ 671.00,R$ 167.00,"R$ 1,230.00","R$ 570,842.32"